@model IEnumerable<dynamic>
@{
    var Index=0;
}
<div id="app">

    <div class="row">
        <div class="col">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active text-dark" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">Semak Penyertaan</button>

                    <button class="nav-link text-dark" id="nav-user-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-user" type="button" role="tab" aria-controls="nav-user"
                        aria-selected="true">Pengguna Berdaftar</button>
                    
                    <button class="nav-link text-dark" id="nav-setup-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-setup" type="button" role="tab" aria-controls="nav-setup"
                        aria-selected="true">Tetapan</button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="p-2 mt-3">
                       
                        @foreach (var item in Model)
                        {
                            var _agensi = item.Agensi.Replace(" ", "").Replace(",","");
                            
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <span class="fa-solid fa-chevron-down"></span> <strong class="text-primary">@item.Agensi</strong> ( Jumlah Yuran: RM @item.Yuran)
                                        </div>
                                        <div class="col-auto">                                            
                                            @* 
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Buka Lampiran
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" target="_blank"  href="~/uploads/@Agensi.Name/@Agensi.FileYuran">Bayaran Yuran</a></li>
                                                    <li><a class="dropdown-item" target="_blank"  href="~/uploads/@Agensi.Name/@Agensi.FileResit">Resit Resmi</a></li>                                                 
                                                </ul>
                                            </div>
                                            *@
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-8">                                           
                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                            @foreach(var sukan in item.Sukans)
                                            {
                                                var _sukan =  _agensi + "-" + sukan.Replace(" ", "") ;

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-@_sukan">
                                                        <div class="row">
                                                            <div class="col">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#flush-collapse-@_sukan" aria-expanded="false"
                                                                    aria-controls="flush-collapse-@_sukan">
                                                                    <span class="small">@sukan</span>
                                                                </button>
                                                            </div>
                                                            <div class="col-auto">                                                                    
                                                                <a target="_blank" class="btn btn-sm btn-outline-dark" asp-controller="Pasukan" asp-action="Cetak" asp-route-sukan="@sukan" asp-route-agensi="@item.Agensi"  title="Cetak"><span class="fa-solid fa-print"></span> </a>
                                                            </div>
                                                        </div>
                                                    </h2>

                                                    <div id="flush-collapse-@_sukan" class="accordion-collapse collapse"
                                                        aria-labelledby="flush-@_sukan"
                                                        data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-sm" style="font-size:9pt">
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>Nama Penuh</td>
                                                                        <td>No KP</td>
                                                                        <td>No Pekerja</td>
                                                                        <td>No KWSP</td>
                                                                        <td>Taraf J.</td>
                                                                        <td>Kumpulan J.</td>
                                                                        <td>Gred J.</td>
                                                                        <td>Kategori Pemain</td>
                                                                        <td>Gambar</td>
                                                                        <td>KP</td>
                                                                        <td>KWSP</td>
                                                                        <td>Majikan</td>
                                                                        <td>Pengarah / SSM</td>
                                                                    </tr>
                                                                    @{
                                                                        var Ahlis = ((List<Ahli>)item.Ahlis).Where(x => x.JenisSukan == sukan);
                                                                    }
                                                                    @foreach(var Ahli in Ahlis)
                                                                    {
                                                                        <tr>
                                                                            <td>@Ahli.JenisAhli</td>
                                                                            <td>@Ahli.NamaPenuh</td>
                                                                            <td>@Ahli.NoKP</td>
                                                                            <td>@Ahli.NoPekerja</td>
                                                                            <td>@Ahli.NoKWSP</td>
                                                                            <td>@Ahli.TarafJawatan</td>
                                                                            <td>@Ahli.KumpulanJawatan</td>
                                                                            <td>@Ahli.GredJawatan</td>
                                                                            <td>@Ahli.KategoriPermainan</td>
                                                                            <td><a target="_blank" href="~/uploads/@Ahli.Id/@Ahli.FileGambar" 
                                                                            data-bs-toggle="tooltip" data-bs-html="true" title="<img src='@Url.Content("~/uploads/" + @Ahli.Id + "/" + @Ahli.FileGambar)' class='img-fluid'>" >@Ahli.FileGambar</a></td>
                                                                            <td><a target="_blank" href="~/uploads/@Ahli.Id/@Ahli.FileKP"
                                                                            data-bs-toggle="tooltip" data-bs-html="true" title="<img src='@Url.Content("~/uploads/" + @Ahli.Id + "/" + @Ahli.FileKP)' class='img-fluid'>">@Ahli.FileKP</a></td>
                                                                            <td><a target="_blank" href="~/uploads/@Ahli.Id/@Ahli.FileKWSP"
                                                                            data-bs-toggle="tooltip" data-bs-html="true" title="<img src='@Url.Content("~/uploads/" + @Ahli.Id + "/" + @Ahli.FileKWSP)' class='img-fluid'>">@Ahli.FileKWSP</a></td>
                                                                            <td><a target="_blank" href="~/uploads/@Ahli.Id/@Ahli.FileMajikan"
                                                                            data-bs-toggle="tooltip" data-bs-html="true" title="<img src='@Url.Content("~/uploads/" + @Ahli.Id + "/" + @Ahli.FileMajikan)' class='img-fluid'>">@Ahli.FileMajikan</a></td>
                                                                            <td><a target="_blank" href="~/uploads/@Ahli.Id/@Ahli.FileSuratLantikan"
                                                                            data-bs-toggle="tooltip" data-bs-html="true" title="<img src='@Url.Content("~/uploads/" + @Ahli.Id + "/" + @Ahli.FileSuratLantikan)' class='img-fluid'>">@Ahli.FileSuratLantikan</a></td>
                                                                        </tr>
                                                                    }
                                                                
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            </div>                                            
                                        </div>
                                        <div class="col-4">
                                            <ul class="nav nav-tabs" id="myTab-@_agensi" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="yuran-tab-@_agensi" data-bs-toggle="tab" data-bs-target="#yuran-@_agensi" type="button" role="tab" aria-controls="yuran-@_agensi" aria-selected="true">Bayaran Yuran</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="resit-tab-@_agensi" data-bs-toggle="tab" data-bs-target="#resit-@_agensi" type="button" role="tab" aria-controls="resit-@_agensi" aria-selected="false">Resit Rasmi</button>
                                                </li>
                                            </ul>

                                            <div class="tab-content" id="myTabContent-@_agensi">
                                                <div class="tab-pane fade show active small" id="yuran-@_agensi" role="tabpanel" aria-labelledby="yuran-tab-@_agensi">
                                                    <div class="row mt-2">
                                                        <div class="col">

                                                                <embed v-if="attachment[@Index].fileYuran.endsWith('.pdf')" :src="'@Url.Content("~/uploads/")' + attachment[@Index].agensi + '/' + attachment[@Index].fileYuran" width="100%" height="200px" />
                                                                
                                                                <div v-else style="display: d-flex; overflow:auto; max-height:200px; max-width:100%">
                                                                    <img :src="'/uploads/' + attachment[@Index].agensi + '/' + attachment[@Index].fileYuran" style="" >                                                
                                                                </div>
                                                                
                                                                <table class="table table-sm small ">
                                                                    <tr>
                                                                        <td class="col-3">Tarikh Dimuat Naik</td>
                                                                        <td>{{attachment[@Index].tarikhHantar}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Catatan</td>
                                                                        <td>{{attachment[@Index].catatan}}</td>
                                                                    </tr>
                                                                </table>                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade small" id="resit-@_agensi" role="tabpanel" aria-labelledby="resit-tab-@_agensi">
                                                    
                                                    <div class="row mt-2 mb-2">
                                                        <div class="col">
                                                            
                                                        </div>
                                                        <div class="col-auto">
                                                            
                                                        </div>                                              
                                                    </div>
                                                    
                                                    <div class="row mb-2">
                                                        <div class="col">

                                                                <embed v-if="attachment[@Index].fileResit != null && attachment[@Index].fileResit.endsWith('.pdf')" :src="'/uploads/' + attachment[@Index].agensi + '/' + attachment[@Index].fileResit" width="100%" height="200px" />                                            
                                                                
                                                                <div v-if="attachment[@Index].fileResit != null && attachment[@Index].fileResit.endsWith('.jpg')" style="display: d-flex; overflow:auto; max-height:200px; max-width:100%">
                                                                    <img :src="'/uploads/' + attachment[@Index].agensi + '/' + attachment[@Index].fileResit" style="" >                                                
                                                                </div>                                            
                                                                
                                                                 <table class="table table-sm small ">
                                                                    <tr>
                                                                        <td class="col-3">Tarikh Dimuat Naik</td>
                                                                        <td>{{attachment[@Index].tarikhResit}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Muat Naik</td>
                                                                        <td><input type="file" class="" accept=".pdf,.jpg" @@change="handleFileChange('@item.Agensi')"></td>
                                                                    </tr>
                                                                </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            </div>


                                            <!-- PREVIEW RECEIPT IN PDF OR JPEG -->
                                            <div class="row mb-1 small">
                                                <div class="col">
                                                    
                                                </div>
                                                <div class="col-auto">                                                    
                                                    
                                                </div>
                                            </div>
                                            
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            Index++;
                        }
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                    <div class="p-2 mt-3">
                        <div class="card">
                            <div class="card-header">
                                Senarai Pengguna Berdaftar
                            </div>
                            <div class="card-body">
                                <table class="table table-sm small">
                                    <tr>
                                        <th>Agensi</th>
                                        <th>Emel / User</th>
                                        <th>Nama Penuh</th>
                                        <th>Telefon</th>
                                        <th>Jawatan</th>
                                        <th></td>
                                    </tr>
                                    <tr v-for="item in setup.pengguna">
                                        <td><span class="text-primary">{{item.agensi}}</span></td>
                                        <td>{{item.emel}}</td>
                                        <td>{{item.namaPenuh}}</td>
                                        <td>{{item.telefon}}</td>
                                        <td>{{item.jawatan}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-danger" @@click="padamPengguna(item.agensi)" :disabled="item.agensi=='Administrator'" ><span class="fa-solid fa-trash"></span></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-setup" role="tabpanel" aria-labelledby="nav-setup-tab">
                    <div class="p-2 mt-3">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <span class="fa-solid fa-chevron-down"></span> <span class="text-primary"> Tarikh Tutup</span>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-sm btn-outline-success" @@click="simpanAgensi()">Simpan</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm small table-striped">
                                    <tr>
                                        <th>Agensi</th>
                                        <th>Tarikh Tutup</th>
                                    </tr>
                                    <tr v-for="item in setup.agensi">
                                        <td>{{item.nama}}</td>
                                        <td>
                                            <input type="date" v-model="item.tarikhTutupForInput" class="form-control"/>
                                        </td>
                                    </tr>
                                </table>                                
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <span class="fa-solid fa-chevron-down"></span> <span class="text-primary"> Setup Sukan</span>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-sm btn-outline-success" @@click="simpanSukan()">Simpan</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">                            
                                <table class="table table-sm small table-striped">                           
                                    <tr>
                                        <th>Nama Sukan</th>
                                        <th>Yuran (RM)</th>
                                        <th>
                                            <span class="fa-solid fa-exclamation-circle text-secondary"></span> Kategori
                                            <br/>
                                            <span class="tiny">Gunakan comma "," sebagai delimiter</span>
                                        </th>
                                        <th>                                    
                                            <span class="fa-solid  fa-user-tie text-secondary"></span> Bil. Pengurus
                                        </th>
                                        <th><span class="fa-solid fa-person-chalkboard  text-secondary"></span> Bil. Jurulatih</th>
                                        <th><span class="fa-solid fa-user-doctor text-secondary"></span> Bil. Fisio</th>
                                        <th><span class="fa-solid fa-people-group text-secondary"></span> Bil. Pemain</th>
                                    </tr>
                                    <tr v-for="item in setup.sukan">
                                        <td><input type="text" v-model="item.nama" class="form-control"/></td>
                                        <td><input type="number" v-model="item.fee" class="form-control"/></td>
                                        <td><input type="text" v-model="item.kategori" class="form-control"/></td>
                                        <td><input type="number" v-model="item.konfigurasi.Pengurus" class="form-control"/></td>
                                        <td><input type="number" v-model="item.konfigurasi.Jurulatih" class="form-control"/></td>
                                        <td><input type="number" v-model="item.konfigurasi.Fisio" class="form-control"/></td>
                                        <td><input type="number" v-model="item.konfigurasi.Pemain" class="form-control"/></td>                                
                                    </tr>
                                </table>
                            </div>
                        </div>

                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    

    <!-- Modal -->
    <div class="modal fade" id="TukarKataLaluanModal" tabindex="-1" aria-labelledby="TukarKataLaluanModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TukarKataLaluanModalLabel">Tukar Kata Laluan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <input type="password" class="form-control" v-model="kataLaluan.lama" placeholder="Kata Laluan Lama">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" v-model="kataLaluan.baru" minlength="8" placeholder="Kata Laluan Baru">
                    </div>
                    <div class="form-group mb-2">                        
                        <input type="password" class="form-control" v-model="kataLaluan.confirm" placeholder="Kata Laluan Baru">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" 
                        :disabled="(kataLaluan.lama=='' || kataLaluan.baru=='') || kataLaluan.baru != kataLaluan.confirm"
                        @@click="tukarKataLaluan()"
                    >Simpan</button>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    
        const { createApp, ref } = Vue;        
        const app = createApp({        
            el: '#app',
            data() {
                return {
                    kataLaluan: {
                        lama: '',
                        baru: '',
                        confirm: ''
                    },
                    setup: {
                        pengguna:[],
                        sukan:[],
                        agensi: [],
                    },
                    attachment: @Html.Raw(Json.Serialize(ViewBag.Attachment)), 

                    model:[]               
                }
            },
            computed: {
            },
            mounted() { 
                this.getPengguna(); 
                this.getSukan();   
                this.getAgensi();          
            },
            methods: {
                tukarKataLaluan: function () {
                    $.ajax({
                        url: '@Url.Content("~/Home/TukarKataLaluan")',
                        type: 'POST',
                        data: {
                            KataLaluanLama: app.kataLaluan.lama,
                            KataLaluanBaru: app.kataLaluan.baru
                        },
                        success: function (data) {
                            if (data.status == true) {
                                toastr.success('Kata laluan berjaya ditukar');
                                $('#TukarKataLaluanModal').modal('hide');
                            }
                            else {
                                toastr.error('Kata laluan gagal ditukar. Pastikan kata laluan lama betul');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                showTukarKataLaluan: function () {
                    $('#TukarKataLaluanModal').modal('show');
                },

                getPengguna: function () {
                    $.ajax({
                        url: '@Url.Content("~/Admin/GetPengguna")',
                        type: 'GET',
                        success: function (data) {
                            app.setup.pengguna = data;
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                padamPengguna: function(agensi) {

                    if (confirm('Adakah anda pasti untuk memadam pengguna ini?')) {
                        $.ajax({
                            url: '@Url.Content("~/Admin/PadamPengguna")',
                            type: 'POST',
                            data: {
                                Agensi: agensi
                            },
                            success: function (data) {
                                if (data.status == true) {
                                    toastr.success('Pengguna berjaya dipadam');
                                    app.getPengguna();
                                }
                                else {
                                    toastr.error('Pengguna gagal dipadam');
                                }
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    }
                },

                getSukan: function () {
                    $.ajax({
                        url: '@Url.Content("~/Admin/GetSukan")',
                        type: 'GET',
                        success: function (data) {
                            app.setup.sukan = data;
                            app.setup.sukan.forEach(function (item) {
                                item.konfigurasi = JSON.parse(item.konfigurasi);
                            });
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                simpanSukan: function() {

                    app.setup.sukan.forEach(function (item) {
                        item.konfigurasi = JSON.stringify(item.konfigurasi);
                    });

                    $.ajax({
                        url: '@Url.Content("~/Admin/SimpanSukan")',
                        type: 'POST',
                        data: {
                            Sukan: app.setup.sukan
                        },
                        success: function (data) {
                            if (data.status == true) {
                                toastr.success('Konfigurasi sukan berjaya disimpan');
                                app.getSukan();
                            }
                            else {
                                toastr.error('Konfigurasi sukan gagal disimpan');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                getAgensi: function() {
                    $.ajax({
                        url: '@Url.Content("~/Admin/GetAgensi")',
                        type: 'GET',
                        success: function (data) {
                            app.setup.agensi = data;
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                simpanAgensi: function() {
                    app.setup.agensi.forEach(function (item) {
                        item.tarikhTutup = item.tarikhTutupForInput;
                    });

                    $.ajax({
                        url: '@Url.Content("~/Admin/SimpanAgensi")',
                        type: 'POST',
                        data: {data: app.setup.agensi},
                        success: function (data) {
                            if (data.status == true) {
                                toastr.success('Tarikh tutup berjaya disimpan');
                                
                            }
                            else {
                                toastr.error('Tarikh tutup gagal disimpan');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                handleFileChange(agensi) {
                    app.attachment.tempResit = event.target.files[0];
                    app.uploadResit(agensi);
                },

                uploadResit: function (agensi) {

                    var formData = new FormData();
                    formData.append('file', app.attachment.tempResit);
                    formData.append('agensi', agensi);

                    $.ajax({
                        url: '@Url.Content("~/Admin/UploadResit")',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.status == true) {
                                app.getAttachment();                                                         
                                toastr.success('Resit berjaya dimuat naik');  
                            }
                            else {
                                toastr.error('Fail gagal dimuat naik');
                            }

                            app.TempResit = '';
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                getAttachment: function(agensi) {
                    $.ajax({
                        url: '@Url.Content("~/Admin/GetAttachment")',
                        type: 'GET',
                        success: function (data) {
                            app.attachment = data;                            
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                
                getAdmin : function() {
                    $.ajax({
                        url: '@Url.Content("~/Admin/GetAdmin")',
                        type: 'GET',
                        success: function (data) {
                            app.model = data;
                            console.log(app.model);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                getAhli : function(ahlis, sukan){
                    //console.log(ahlis);
                    //console.log(sukan);

                    return ahlis.filter(x => x.JenisSukan == sukan);
                }
                
            },

        }).mount('#app');
    
    
    </script>


}
