@model IEnumerable<dynamic>
@{
    string statusHelper(bool value)
    {
        if (value)
            return "<span class='badge bg-success'>Lengkap</span>";
        else
            return "<span class='badge bg-danger'>Tidak Lengkap</span>";
    }
}

<table class="table table-sm small">
    <tr>
        <th></th>
        <th>Sukan</th>
        <th>Yuran Pendaftaran</th>
        <th><span class="fa-solid fa-user-tie text-secondary small"></span>
            Pengurus
        </th>
        <th><span class="fa-solid fa-person-chalkboard text-secondary small"></span>
            Jurulatih
        </th>
        <th> <span class="fa-solid fa-user-doctor text-secondary small"></span>
            Fisio
        </th>
        <th><span class="fa-solid fa-people-group text-secondary small"></span>
            Pemain
        </th>
        <th><span class="fa-solid fa-people-group text-secondary small"></span>
            Bil Pemain
        </th>
        <th>
            </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="img-sm rounded-circle" src='@Url.Content("~/images/sukan-icons/" + item.Sukan + ".jpg")' />
            </td>
            <td class="align-middle">@item.Sukan</td>
            <td class="align-middle">RM @item.Fee.ToString("#,00.00")</td>
            <td class="align-middle">
                @if (item.Pengurus_Gambar != null)
                {
                    <img class="img-sm rounded-circle"
                        src='@Url.Content("~/uploads/" + item.Pengurus_Id + "/" + item.Pengurus_Gambar)' />
                }

                @Html.Raw(statusHelper(item.Pengurus))
            </td>
            <td class="align-middle">
                @if (item.Jurulatih_Gambar != null)
                {
                    <img class="img-sm rounded-circle"
                        src='@Url.Content("~/uploads/" + item.Jurulatih_Id + "/" + item.Jurulatih_Gambar)' />
                }
                @Html.Raw(statusHelper(item.Jurulatih))
            </td>
            <td class="align-middle">@Html.Raw(statusHelper(item.Fisio))</td>
            <td class="align-middle">@Html.Raw(statusHelper(item.Pemain == item.Bilangan))</td>
            <td class="align-middle">@item.Pemain / @item.Bilangan</td>
            <td></td>
        </tr>
    }
</table>