@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Home Page";



}

<div id="app">
    <div class="row mb-3">
        <div class="col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active text-dark" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">@ViewBag.Agensi</button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="p-2">
                        <div class="border rounded p-2 mb-3 mt-3">
                            <p class="small text-primary"><span class="fa-solid fa-chevron-down"></span> Bayaran </p>
                            <div class="row">
                                <div class="col-3">
                                    <div class="p-2">
                                        <p class="small text-secondary">Jumlah yang perlu dibayar</p>
                                        <h3 style="text-align:right">RM @ViewBag.TotalFee</h3>
                                        <button class="btn btn-success form-control" data-bs-toggle="modal"
                                            data-bs-target="#HantarModal">Hantar Penyertaan</button>
                                        <span></span>

                                    </div>
                                </div>
                                <div class="col">

                                </div>
                                <div class="col-auto">
                                    <p class="small">
                                        <span class="fa-solid fa-exclamation-circle text-warning"></span>
                                         Tarikh Tutup: @ViewBag.TarikhTutup.</p>

                                    <p v-if="Attachment.yuran" class="mt-2 small">
                                        <span class="fa-solid fa-check-circle text-success"></span>
                                        Penyertaan dihantar pada  {{Attachment.tarikh}}.
                                        <br/>
                                        <a :href="'/uploads/@ViewBag.Agensi/' + Attachment.yuran" target="_blank"
                                            class=""> Lihat Lampiran Yuran</a>
                                    </p>

                                    <p v-if="Attachment.resit" class="mt-2 small">
                                        <span class="fa-solid fa-check-circle text-success"></span>
                                        Resit rasmi telah dikeluarkan.
                                        <br/>
                                        <a :href="'/uploads/@ViewBag.Agensi/' + Attachment.resit" target="_blank"
                                            class=""> Lihat Lampiran Resit</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="border rounded p-2">
                            <div class="row mb-3">
                                <div class="col">
                                    <p class="small text-primary"><span class="fa-solid fa-chevron-down"></span> Senarai
                                        Pendaftaran</p>
                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-primary" asp-action="Index" asp-controller="Pasukan"><span
                                            class="fa-solid fa-pencil"></span> Kemaskini
                                        Pasukan</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="table-responsive">
                                        <partial name="_SenaraiSukan" model="@Model" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Change Password -->
    <div class="modal fade" id="TukarKataLaluanModal" tabindex="-1" aria-labelledby="TukarKataLaluanModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TukarKataLaluanModalLabel">Tukar Kata Laluan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <input type="password" class="form-control" v-model="KataLaluanLama"
                            placeholder="Kata Laluan Lama">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" v-model="KataLaluanBaru"
                            placeholder="Kata Laluan Baru">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" v-model="KataLaluanConfirm"
                            placeholder="Kata Laluan Baru">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-sm"
                        data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-outline-primary btn-sm"
                        :disabled="(KataLaluanLama=='' || KataLaluanBaru=='') || KataLaluanBaru != KataLaluanConfirm"
                        @@click="tukarKataLaluan()">Simpan</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Hantar/Confirmation -->
    <div class="modal fade" id="HantarModal" tabindex="-1" aria-labelledby="HantarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="HantarLabel">Hantar Penyertaan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col">
                            <div class="p-2 border rounded">
                                <h6 class="text-primary"><span class="fa-solid fa-chevron-down"></span> KAEDAH
                                    PEMBAYARAN YURAN PENYERTAAN</h6>
                                <p class="small">Bayaran boleh dibuat secara atas talian melalui kaedah Electronic Fund
                                    Transfer (EFT).
                                    Berikut adalah maklumat perbankan kami:</p>
                                <table class="table table-sm table-borderless small">
                                    <tr>
                                        <td>Nama Akaun</td>
                                        <td>@ViewBag.Bank.NamaAkaun</td>
                                    </tr>
                                    <tr>
                                        <td>Nombor Akaun Bank</td>
                                        <td>@ViewBag.Bank.NoAkaun</td>
                                    </tr>
                                    <tr>
                                        <td>Bank</td>
                                        <td>@ViewBag.Bank.NamaBank</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-danger"><span class="fa-solid fa-chevron-down"></span> RINGKASAN DAN
                                    PENGESAHAN BAYARAN</h6>
                                <table class="table table-sm table-borderless small">
                                    <tr>
                                        <td>Nama Agensi</td>
                                        <td>
                                            <input type="text" class="form-control" readonly value="@ViewBag.Agensi" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Amaun (RM)</td>
                                        <td>
                                            <input type="text" class="form-control" readonly
                                                value="@ViewBag.TotalFee" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Catatan</td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="small text-secondary" style="text-align:justify; font-size:9pt">
                                    <input type="checkbox" v-model="Perakuan" />Kami telah membaca dan memahami serta
                                    akan mematuhi syarat-syarat dan peraturan-peraturan kejohanan yang telah ditetapkan
                                    oleh
                                    jawatankuasa penganjur dan mengesahkan bahawa segala maklumat adalah benar seperti
                                    dalam borang pendaftaran
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="file" class="form-control" accept=".pdf,.jpg"
                                    @@change="handleFileChange()">
                            </div>
                            <div class="col-auto">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary "
                        data-bs-dismiss="modal">Tutup</button>
                    <button class="btn btn-success btn" :disabled="!(Perakuan && TempResit)"
                                    @@click="uploadYuran()">Muat
                                    Naik</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                Attachment: {},
                TempResit: null,
                Perakuan: false,
                KataLaluanLama: '',
                KataLaluanBaru: '',
                KataLaluanConfirm: '',
            },
            computed: {

            },
            mounted() {
                this.getAttachment();
            },
            methods: {
                handleFileChange() {
                    app.TempResit = event.target.files[0];
                },

                getAttachment: function () {
                    $.ajax({
                        url: '@Url.Content("~/Home/getAttachment")',
                        type: 'GET',
                        success: function (data) {
                            if (data.status == true) {
                                app.Attachment = data;                                
                            }
                            else {
                                app.Resit = null;
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                uploadYuran: function () {

                    var formData = new FormData();
                    formData.append('file', app.TempResit);

                    $.ajax({
                        url: '@Url.Content("~/Home/UploadYuran")',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.status == true) {
                                toastr.success('Resit berjaya dimuat naik');
                                $('#HantarModal').modal('hide');
                                app.getAttachment();
                            }
                            else {
                                toastr.error('Fail gagal dimuat naik');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                tukarKataLaluan: function () {
                    $.ajax({
                        url: '@Url.Content("/Home/TukarKataLaluan")',
                        type: 'POST',
                        data: {
                            KataLaluanLama: app.KataLaluanLama,
                            KataLaluanBaru: app.KataLaluanBaru
                        },
                        success: function (data) {
                            if (data.status == true) {
                                toastr.success('Kata laluan berjaya ditukar');
                                $('#TukarKataLaluanModal').modal('hide');
                            }
                            else {
                                toastr.error('Kata laluan gagal ditukar. Pastikan kata laluan lama betul');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                showTukarKataLaluan: function () {
                    $('#TukarKataLaluanModal').modal('show');
                }

            },

        })
    </script>
}