@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Home Page";



}

<div id="app">
    <div class="row mb-3">
        <div class="col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active text-dark" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">@ViewBag.Agensi</button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="p-2">
                        <div class="border rounded p-2 mb-3 mt-3">
                            <p class="small text-primary"><span class="fa-solid fa-chevron-down"></span> Bayaran </p>
                            <div class="row">
                                <div class="col-3">
                                    <div class="p-3">
                                        <h3>RM @ViewBag.TotalFee</h3>
                                        <p class="small text-secondary">Selepas pendaftaran pasukan sudah lengkap dan
                                            muktamat,
                                            sila buat bayaran dan muat naik resit.</p>
                                        <pre class="small">@ViewBag.Bank.Nama<br>@ViewBag.Bank.NoAkaun</pre>
                                    </div>

                                </div>

                                <div class="col-3">

                                    <p class="small text-secondary" style="text-align:justify;">
                                        <input type="checkbox" v-model="Perakuan" /> <strong
                                            class="text-dark">Perakaun</strong>: Saya
                                        mengesahkan bahawa, segala maklumat yang didaftarkan dalam sistem ini adalah
                                        lengkap dan benar.
                                    </p>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="file" class="form-control" accept=".pdf,.jpg"
                                                @@change="handleFileChange()">
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-outline-dark btn" :disabled="!Perakuan"
                                                @@click="uploadResit()">Muat
                                                Naik</button>
                                        </div>
                                    </div>

                                    <div v-if="Resit" class="mt-2 text-danger">
                                        <span class="fa-solid fa-receipt"></span>
                                        <a :href="'/uploads/@ViewBag.Agensi/' + Resit" target="_blank"
                                            class="small">Lihat Resit</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="border rounded p-2">
                            <div class="row mb-3">
                                <div class="col">
                                    <p class="small text-primary"><span class="fa-solid fa-chevron-down"></span> Senarai
                                        Pendaftaran</p>
                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-primary" asp-action="Index" asp-controller="Pasukan"><span class="fa-solid fa-pencil"></span> Kemaskini
                                        Pasukan</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="table-responsive">
                                        <partial name="_SenaraiSukan" model="@Model" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="TukarKataLaluanModal" tabindex="-1" aria-labelledby="TukarKataLaluanModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TukarKataLaluanModalLabel">Tukar Kata Laluan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <input type="password" class="form-control" v-model="KataLaluanLama" placeholder="Kata Laluan Lama">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" v-model="KataLaluanBaru" placeholder="Kata Laluan Baru">
                    </div>
                    <div class="form-group mb-2">                        
                        <input type="password" class="form-control" v-model="KataLaluanConfirm" placeholder="Kata Laluan Baru">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" 
                        :disabled="(KataLaluanLama=='' || KataLaluanBaru=='') || KataLaluanBaru != KataLaluanConfirm"
                        @@click="tukarKataLaluan()"
                    >Simpan</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                Resit: null,
                TempResit: null,
                Perakuan: false,
                KataLaluanLama: '',
                KataLaluanBaru: '',
                KataLaluanConfirm: '',
            },
            computed: {

            },
            mounted() {
                this.getResit();
            },
            methods: {
                handleFileChange() {
                    app.TempResit = event.target.files[0];
                },

                getResit: function () {
                    $.ajax({
                        url: '/Home/getResit',
                        type: 'GET',
                        success: function (data) {
                            if (data.status == true) {
                                app.Resit = data.resit;
                            }
                            else {
                                app.Resit = null;
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                uploadResit: function () {

                    var formData = new FormData();
                    formData.append('file', app.TempResit);

                    $.ajax({
                        url: '@Url.Content("~/Home/UploadResit")',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.status == true) {
                                toastr.success('Resit berjaya dimuat naik');
                                app.getResit();
                            }
                            else {
                                toastr.error('Fail gagal dimuat naik');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                tukarKataLaluan: function () {
                    $.ajax({
                        url: '@Url.Content("/Home/TukarKataLaluan")',
                        type: 'POST',
                        data: {
                            KataLaluanLama: app.KataLaluanLama,
                            KataLaluanBaru: app.KataLaluanBaru
                        },
                        success: function (data) {
                            if (data.status == true) {
                                toastr.success('Kata laluan berjaya ditukar');
                                $('#TukarKataLaluanModal').modal('hide');
                            }
                            else {
                                toastr.error('Kata laluan gagal ditukar. Pastikan kata laluan lama betul');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },

                showTukarKataLaluan: function () {
                    $('#TukarKataLaluanModal').modal('show');
                }
                
            },

        })
    </script>
}